:root {
  --color-si-teal: #079e8e;
  --color-si-dark-teal: #284849;
  --color-si-aqua: #4ac6c1;
  --color-si-golden-yellow: #f1d537;
  --color-si-tangerine: #f66b37;
  --color-si-white: #f6efe7;
  --color-black: #37352f;
  --color-white: #ffffff;

  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 1.5rem;
  --spacing-extra-large: 2rem;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color-scheme: light;
  color: var(--color-black);
  background-color: var(--color-si-white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

input, button, textarea, select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}
